@import 'open-props/open-props.min.css';
@import 'open-props/normalize.min.css';

.container {
  max-width: 800px;
  margin: var(--size-10) auto;
  padding: var(--size-6);
  background-color: var(--surface-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  color: var(--text-1);
}

h2 {
  text-align: center;
  margin-bottom: var(--size-5);
  color: var(--text-1);
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  padding: var(--size-4);
  border-bottom: 1px solid var(--border-2);
}

.item:last-child {
  border-bottom: none;
}

.item p {
  margin: 0.3rem 0;
  font-size: 1rem;
}

.aceptada {
  color: var(--green-6);
  font-weight: bold;
}

.rechazada {
  color: var(--red-6);
  font-weight: bold;
}

.en {
  color: var(--yellow-5);
  font-weight: bold;
}
